.cart-dropdown {
  background-color: white;
  width: 240px;
  height: 340px;
  position: absolute;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  z-index: 5;
  padding: 20px;
  top: 90px;
  right: 40px;

  .cart-items {
    height: 240px;
    display: flex;
    flex-direction: column;
    overflow: scroll;
  }

  button {
    margin-top: auto;
  }
}